<nav>
    <ul class="nav-bar">
        <li class="nav-li"> <a class="menu" href="/">All schedules</a></li>
        <li class="nav-li"> <a class="menu" href="/profile">Your profile</a></li>
        <li class="nav-li"> <a class="menu" href="/schedule">Your schedules</a></li>
        <li class="nav-li"> <a class="menu" href="/logout">Logout</a></form></li>
    </ul>
</nav>
