<body>
    <nav>
        <ul class="nav-bar">
            <li class="nav-li"> <a href="/profile"></a>Your profile</li>
            <li class="nav-li"> <a href="/schedule"></a>Your schedules</li>
            <li class="nav-li"> <a href="/login"></a>Logout</li>
        </ul>
    </nav>
</body>