<body>
    <nav>
        <ul class="nav-bar">
            <li class="nav-li"> <a href="/profile">Your profile</a></li>
            <li class="nav-li"> <a href="/schedule">Your schedules</a></li>
            <li class="nav-li"> <a href="/login">Logout</a></li>
        </ul>
    </nav>
</body>