<body>
    <nav>
        <ul class="nav-bar">
            <li class="nav-li"> <a class="menu" href="/">All schedules</a></li>
            <li class="nav-li"> <a class="menu" href="/profile">Your profile</a></li>
            <li class="nav-li"> <a class="menu" href="/schedule">Your schedules</a></li>
            <li class="nav-li"> <form class="menu" method="post" action="/logout"><button class="nav-button">Logout</button></form></li>
        </ul>
    </nav>
</body>