/* GLOBAL STYLING */

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: ghostwhite;
    margin: 0;
    border: 0;
}

p, li, td, th {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

h1, h2, h3 {
   color:#5b5b5b;
   font-family: 'Crimson Text', serif;
   text-align: center;
   margin: 30px 0;
   line-height: 1.25em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

a {
    color: #c24d89;
    text-decoration: none;
}

a:hover {
    color: #000;
}

.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.content-block {
    width: 75%;
    max-width: 1080px;
    background-color: ghostwhite;
    margin: 2em;
    margin-left: auto;
    margin-right: auto;
    color:#5b5b5b; 
    font-size: 1.1em;  
    line-height: 1.3em;
}

.not-button {
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    color: #c24d89;
}

.not-button:hover {
    border: none;
    color: #000;
}

.shedule-p {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.alert {
    color: #c24d89;
    margin-bottom: 10px;
    font-size: .75em;
}

.alert.hidden {
    display: block!important;
    visibility: hidden;
}

/* NAV BAR */

.nav-bar {
    padding: 0em;
    display: flex;
    justify-content: center;
    background-color: #000;
    margin-block-start: 0em;
    margin-block-end: 0em;   
}

.nav-li {
    padding: 1.5em;
    list-style-type: none;
    margin: 0 2vw;
    font-size: 1.3em;
    font-weight: bold;
}

.nav-li a:hover, .nav-li button:hover {
    color: #c24d89;
}

.nav-li .not-button {
    color: #fff;
    text-transform: none;
}

.menu {
    text-decoration: none;
    color: ghostwhite;
}

/* TABLE STYLING */

table {
    width: 100%;
    border-collapse: collapse;
    padding: 5em;
}

td, th {
    margin: 3em;
    padding: 1em;
    text-align: center !important;
}

table .not-button {
    margin: 0 auto;
}

thead, table > tr:first-child {
    background-color: #c24d89;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: rgb(205, 205, 205);
}

/* FORM STYLING */

.form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button {
    border-style: solid;
    border-width: 2px;
    border-color: #c24d89;
    cursor: pointer;
    /* height: 4em; */
    background-color: #c24d89;
    border-radius: 15px;
    color: ghostwhite;
    letter-spacing: 1px;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    /* box-shadow: rgba(0,0,0,0.5) 3px 3px 5px; */
    margin: 10px auto;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
}

button:hover {
    /* box-shadow: none;
    position:relative;
    top: 3px;
    left: 3px; */
    border-color: #c24d89;
    border-style: solid;
    background-color: transparent;
    color: #c24d89;
}

label {
    font-size: 1.2em; 
    display: block;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}

input, select {
    width: 100%;
    margin: 0.5em;
    margin-left: 0;
    padding: 10px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
}

.description {
    font-size: .75em;
}

.signup-p {
    text-align: center;
}

/* FLEX LAYOUTS */

@media only screen and (min-width: 870px) {
    .two-column {
        display: flex;
        justify-content: center;   
        flex-direction: row-reverse;
    }
}

.two-column > div:first-child {
    min-width: 400px;
}