<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to our brand new schedule website</h1>

    <div>
        <form method="POST" action="/home">
            <ul>
                <li>
                    <label for="email" id="email" name="email">email</label>
                    <input type="email">
                </li>
                <li>
                    <label for="password" id="password" name="password">password</label>
                    <input type="password">
                </li>
            </ul>

            <button class="login-button" type="submit">Login</button>
        </form>
    </div>

    <p>If you don't have an account yet, please <a href="/signup">sign up</a> </p>

</body>

</html>