<h1>Welcome to our brand new schedule website</h1>

<div>
    <p class="alert"><%= message %></p>
    <form class="form" method="POST" action="/login">
        <div>
            <label class="form-label" for="email">Email</label>
            <input class="form-input" type="email" id="email" name="email" required>
        </div>
        <div>
            <label class="form-label" for=" password">Password</label>
            <input class="form-input" type="password" id="password" name="password" required>
        </div>
        <button class="button" type="submit">Login</button>
    </form>
</div>

<div class="signup-p">
    <p>If you don't have an account yet, please <a href="/signup">sign up</a> </p>
</div>