<p class="shedule-p">To add a new schedule, please fill out the form below.</p>
<div class="two-column">
    <div>
        <form class="form" action="/schedule" method="POST">
            <div>
                <label class="form-label" for="day">Day:</label>
                <select class="form-input" id="day" name="day" required>
                    <option disabled selected value>Select a day</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
                <p class="alert hidden"></p>
            </div>
            <div>
                <label class="form-label" for="start_time">Start Time:</label>
                <input class="form-input" id="start_time" type="text" name="start_time" placeholder="HH:MM" required>
                <p class="alert hidden"></p>
            </div>
            <div>
                <label class="form-label" for="end_time">End Time:</label>
                <input class="form-input" id="end_time" type="text" name="end_time" placeholder="HH:MM" required>
                <p class="alert hidden"></p>
            </div>
            <button class="button" type="submit">Add Schedule</button>
        </form>
    </div>
    <div>
        <table>
            <thead class="table-heading">
                <tr>
                    <th>Day</th>
                    <th>Start time:</th>
                    <th>End time:</th>
                </tr>
            </thead>
            <tbody>
                <% for (i=0; i < schedules.length; i++) { %>
                    <tr>
                        <td class="table-cell">
                            <%= schedules[i].day%>
                        </td>
                        <td class="table-cell">
                            <%= schedules[i].start_time%>
                        </td>
                        <td class="table-cell">
                            <%= schedules[i].end_time%>
                        </td>
                        <!-- <td><a href="#" action="">DELETE</a></td> -->
                        <!-- TODO: Need to look into how to delete an entry in a table from an anchor -->
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>