<h1>Hello <%= firstname %>, here are your schedules</h1>
<p>To add a new schedule, please fill out the form below.</p>
<div class="2-column">
    <div>
        <form action="" method="">
            <div>
                <label for="day">Day:</label>
                <select id="day" name="day" required>
                    <option disabled selected value>Select a day</option>
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
                <p class="alert hidden"></p>
            </div>
            <div>
                <label for="start_time">Start Time:</label>
                <input id="start_time" type="text" name="start_time" placeholder="HH:MM" required>
                <p class="alert hidden"></p>
            </div>
            <div>
                <label for="end_time">End Time:</label>
                <input id="end_time" type="text" name="end_time" placeholder="HH:MM" required>
                <p class="alert hidden"></p>
            </div>
            <button type="submit">Add Schedule</button>
        </form>
    </div>
    <div>
        <table>
            <% for (i = 0; i < schedules.length; i++) { %>
                <tr>
                    <td><%= schedules[i].day</td>
                    <td><%= schedules[i].start_time</td>
                    <td><%= schedules[i].end_time</td>
                    <!-- <td><a href="#" action="">DELETE</a></td> -->
                    <!-- TODO: Need to look into how to delete an entry in a table from an anchor -->
                </tr>
            <% } %>
        </table>
    </div>
</div>