<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=div, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Please sign up:</h1>
    <div>
        <form class="form" action="/index" method="POST">
            <ul>
                <li class="form-li">
                    <label class="form-label" for="firstname">First name</label>
                    <input class="form-input" type="text" id="firstname" name="firstname">
                </li>
                <li class="form-li">
                    <label class="form-label" for="lastname">Last name</label>
                    <input class="form-input" type="text" id="lastname" name="lastname">
                </li>

                <li class="form-li">
                    <label class="form-label" for="email">Email</label>
                    <input class="form-input" type="email" id="email" name="email">
                </li>

                <li class="form-li">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-input" type="password" id="password" name="password">
                </li>
                <button type="submit" class="signup-button">Submit</button>
            </ul>
        </form>
    </div>
</body>

</html>